n8n-workflows/01-student-enrolment-notification.json
{
  "name": "01 — Student Enrolment Notification",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} },
      "name": "SJMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "enrolments.created" }] }
      },
      "name": "Is Enrolment Created?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=http://api:3001/api/v1/enrolments/{{ $json.data.id }}",
        "options": {}
      },
      "name": "Get Enrolment Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://api:3001/api/v1/notifications",
        "method": "POST",
        "body": {
          "userId": "={{ $json.data.student?.person?.id }}",
          "title": "Enrolment Confirmed",
          "message": "=You have been enrolled on {{ $json.data.programme?.title }} for {{ $json.data.academicYear }}.",
          "category": "ENROLMENT",
          "priority": "NORMAL"
        },
        "options": {}
      },
      "name": "Create Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Enrolment Created?", "type": "main", "index": 0 }]] },
    "Is Enrolment Created?": { "main": [[{ "node": "Get Enrolment Details", "type": "main", "index": 0 }], []] },
    "Get Enrolment Details": { "main": [[{ "node": "Create Notification", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "sjms" }, { "name": "enrolment" }]
}
