n8n-workflows/03-marks-released.json
{
  "name": "03 — Marks Released Notification",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} }, "name": "SJMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300] },
    { "parameters": { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "marks.updated" }] } }, "name": "Is Marks Updated?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "url": "=http://api:3001/api/v1/marks/{{ $json.data.id }}", "options": {} }, "name": "Get Mark Details", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [650, 200] },
    { "parameters": { "url": "http://api:3001/api/v1/notifications", "method": "POST", "body": { "title": "Marks Released", "message": "New marks have been published. Check your student portal.", "category": "ASSESSMENT", "priority": "NORMAL" }, "options": {} }, "name": "Notify Student", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 200] }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Marks Updated?", "type": "main", "index": 0 }]] },
    "Is Marks Updated?": { "main": [[{ "node": "Get Mark Details", "type": "main", "index": 0 }], []] },
    "Get Mark Details": { "main": [[{ "node": "Notify Student", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" }, "tags": [{ "name": "sjms" }, { "name": "assessment" }]
}
