n8n-workflows/04-attendance-alert.json
{
  "name": "04 — Attendance Alert Escalation",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} }, "name": "SJMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300] },
    { "parameters": { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "attendance.created" }] } }, "name": "Is Attendance Event?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "url": "http://api:3001/api/v1/attendance/alerts", "qs": { "status": "ACTIVE", "limit": "50" }, "options": {} }, "name": "Check Active Alerts", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [650, 200] },
    { "parameters": { "url": "http://api:3001/api/v1/notifications", "method": "POST", "body": { "title": "Attendance Alert", "message": "A student's attendance has dropped below the threshold. Review required.", "category": "ATTENDANCE", "priority": "HIGH" }, "options": {} }, "name": "Notify Support Team", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 200] }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Attendance Event?", "type": "main", "index": 0 }]] },
    "Is Attendance Event?": { "main": [[{ "node": "Check Active Alerts", "type": "main", "index": 0 }], []] },
    "Check Active Alerts": { "main": [[{ "node": "Notify Support Team", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" }, "tags": [{ "name": "sjms" }, { "name": "attendance" }]
}
