n8n-workflows/06-payment-received.json
{
  "name": "06 — Payment Received Confirmation",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} }, "name": "SJMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300] },
    { "parameters": { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "finance.updated" }] } }, "name": "Is Finance Event?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "url": "=http://api:3001/api/v1/finance/{{ $json.data.id }}", "options": {} }, "name": "Get Account Details", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [650, 200] },
    { "parameters": { "url": "http://api:3001/api/v1/notifications", "method": "POST", "body": { "title": "Payment Received", "message": "Your payment has been recorded. Check your financial account for details.", "category": "FINANCE", "priority": "NORMAL" }, "options": {} }, "name": "Notify Student", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 200] }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Finance Event?", "type": "main", "index": 0 }]] },
    "Is Finance Event?": { "main": [[{ "node": "Get Account Details", "type": "main", "index": 0 }], []] },
    "Get Account Details": { "main": [[{ "node": "Notify Student", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" }, "tags": [{ "name": "sjms" }, { "name": "finance" }]
}
