n8n-workflows/08-document-verification.json
{
  "name": "08 — Document Upload Verification",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} }, "name": "SJMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300] },
    { "parameters": { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "documents.created" }] } }, "name": "Is Document Upload?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "url": "=http://api:3001/api/v1/documents/{{ $json.data.id }}", "options": {} }, "name": "Get Document", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [650, 200] },
    { "parameters": { "url": "http://api:3001/api/v1/notifications", "method": "POST", "body": { "title": "Document Pending Verification", "message": "A new document has been uploaded and requires verification.", "category": "DOCUMENTS", "priority": "NORMAL" }, "options": {} }, "name": "Notify Verifier", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 200] }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Document Upload?", "type": "main", "index": 0 }]] },
    "Is Document Upload?": { "main": [[{ "node": "Get Document", "type": "main", "index": 0 }], []] },
    "Get Document": { "main": [[{ "node": "Notify Verifier", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" }, "tags": [{ "name": "sjms" }, { "name": "documents" }]
}
