n8n-workflows/10-offer-made.json
{
  "name": "10 — Offer Made to Applicant",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} }, "name": "SJMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300] },
    { "parameters": { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "offers.created" }] } }, "name": "Is Offer Created?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "url": "=http://api:3001/api/v1/offers/{{ $json.data.id }}", "options": {} }, "name": "Get Offer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [650, 200] },
    { "parameters": { "url": "http://api:3001/api/v1/notifications", "method": "POST", "body": { "title": "Offer Received", "message": "You have received an offer. Log in to your applicant portal to view and respond.", "category": "ADMISSIONS", "priority": "HIGH" }, "options": {} }, "name": "Notify Applicant", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 200] }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Offer Created?", "type": "main", "index": 0 }]] },
    "Is Offer Created?": { "main": [[{ "node": "Get Offer", "type": "main", "index": 0 }], []] },
    "Get Offer": { "main": [[{ "node": "Notify Applicant", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" }, "tags": [{ "name": "sjms" }, { "name": "admissions" }]
}
