n8n-workflows/11-enrolment-status-change.json
{
  "name": "11 — Enrolment Status Change Handler",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "sjms", "options": {} }, "name": "SJMS Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1, "position": [250, 300] },
    { "parameters": { "conditions": { "string": [{ "value1": "={{ $json.event }}", "value2": "enrolments.updated" }] } }, "name": "Is Enrolment Updated?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [450, 300] },
    { "parameters": { "url": "=http://api:3001/api/v1/enrolments/{{ $json.data.id }}", "options": {} }, "name": "Get Enrolment", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [650, 200] },
    { "parameters": { "url": "http://api:3001/api/v1/notifications", "method": "POST", "body": { "title": "Enrolment Status Changed", "message": "Your enrolment status has been updated. Please check your student portal.", "category": "ENROLMENT", "priority": "HIGH" }, "options": {} }, "name": "Notify Student", "type": "n8n-nodes-base.httpRequest", "typeVersion": 3, "position": [850, 200] }
  ],
  "connections": {
    "SJMS Webhook": { "main": [[{ "node": "Is Enrolment Updated?", "type": "main", "index": 0 }]] },
    "Is Enrolment Updated?": { "main": [[{ "node": "Get Enrolment", "type": "main", "index": 0 }], []] },
    "Get Enrolment": { "main": [[{ "node": "Notify Student", "type": "main", "index": 0 }]] }
  },
  "active": false, "settings": { "executionOrder": "v1" }, "tags": [{ "name": "sjms" }, { "name": "enrolment" }]
}
